{% extends 'base.html.twig' %}

{% block title %}Liste index
{% endblock %}

{% block body %}
	<h1>Toutes les listes</h1>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Afficher / Modifier</th>
			</tr>
		</thead>
		<tbody>
			{% for liste in listes %}
				<tr>
					<td>{{ liste.id }}</td>
					<td>{{ liste.nomListe }}</td>
					<td>
						<a href="{{ path('app_liste_show', {'id': liste.id}) }}">🔍</a>
						<a href="{{ path('app_liste_edit', {'id': liste.id}) }}">✏️</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_liste_new') }}">
		<button class="btnAdd">+</button>
	</a>

	<a href="{{ path('app_accueil') }}">
		<button class="btnBack">Retour</button>
	</a>
{% endblock %}
