{% extends 'base.html.twig' %}

{% block title %}New Liste
{% endblock %}

{% block body %}
	<h1>Nouvelle liste</h1>

	{{ include('liste/_form.html.twig') }}

	<a href="{{ path('app_liste_index') }}">
		<button class="btnAnnuler">Annuler</button>
	</a>
{% endblock %}
