{% extends 'base.html.twig' %}

{% block title %}Liste
{% endblock %}

{% block body %}
	{% set totalList = 0.0 %}
	<h1>#{{ liste.id }}
		-
		{{ liste.nomListe }}</h1>

	<table class="table">
		<tbody>

			<tr>
				<th>Article
				</th>
				<th>Quantité
				</th>
				<th>Prix
				</th>
				<th></th>
				<th>Acheté?
				</th>
			</tr>

			{% for contient in liste.contenus %}
				<tr>
					{# <th>Nom Article</th> #}
					<td>{{ contient.articleOfContient.nomArticle }}</td>
					{# <th>Quantite</th> #}
					<td>{{ contient.quantite }}</td>
					{# <th>Prix Total</th> #}
					<td>{{ contient.prixTotal }}</td>
					{# <th>Acheté?
																																																																																																																								</th> #}
					<td>{{ contient.achete }}</td>
					<td>{{ include('liste/_check_bought_form.html.twig') }}</td>
				</tr>

				{% set totalList = totalList + contient.prixTotal %}

			{% else %}
				<tr>
					<td colspan="3">Pas Encore d'articles</td>
				</tr>
			{% endfor %}

			<tr>
				<th>Total</th>
				<th></th>
				<th>{{ totalList }}</th>
				<th></th>
				<th></th>
			</tr>
		</tbody>


	</table>

	<a href="{{ path('app_liste_index') }}">
		<button class="btnRetour">Retour</button>
	</a>

	<a href="{{ path('app_liste_edit', {'id': liste.id}) }}">
		<button class="btnEdit">Editer</button>
	</a>

	{{ include('liste/_delete_form.html.twig') }}
{% endblock %}
