{% extends 'base.html.twig' %}

{% block title %}Edit Type
{% endblock %}

{% block body %}
	<h1>Éditer</h1>

	{{ include('type/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_type_index') }}">
		<button class="btnBack">Retour</button>
	</a>

	{{ include('type/_delete_form.html.twig') }}
{% endblock %}
