{% extends 'base.html.twig' %}

{% block title %}Type index
{% endblock %}

{% block body %}
	<h1>Type index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>NomType</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for type in types %}
				<tr>
					<td>{{ type.id }}</td>
					<td>{{ type.nomType }}</td>
					<td>
						<a href="{{ path('app_type_show', {'id': type.id}) }}">🔍</a>
						<a href="{{ path('app_type_edit', {'id': type.id}) }}">✏️</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_type_new') }}">
		<button class="btnAdd">+</button>
	</a>

	<a href="{{ path('app_accueil') }}">
		<button class="btnBack">Retour</button>
	</a>
{% endblock %}
