{% extends 'base.html.twig' %}

{% block title %}Type
{% endblock %}

{% block body %}
	<h1>Type</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ type.id }}</td>
			</tr>
			<tr>
				<th>NomType</th>
				<td>{{ type.nomType }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_type_index') }}">
		<button class="btnBack">Retour</button>
	</a>

	<a href="{{ path('app_type_edit', {'id': type.id}) }}">
		<button class="btnEdit">Editer</button>
	</a>

	{{ include('type/_delete_form.html.twig') }}
{% endblock %}
