{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>{{ controller_name }}
			: Bienvenue utilisateur</h1>

		Bienvenue sur notre site développé en intégralité par Anis BEN JEMIA et Tilio CHARRIER
		<ul>
			<li>Gérer les listes
				<div>
					<a href="{{ path("app_liste_index") }}">🔍</a>
				</div>
			</li>
			<li>Gérer les articles
				<div>
					<a href="{{ path("app_article_index") }}">🔍</a>
				</div>
			</li>
			<li>Gérer les types
				<div>
					<a href="{{ path("app_type_index") }}">🔍</a>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}
