body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    align-items: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    background-color: #adadad;
    border-style: solid;
}

tr {
    text-align: center;
}

a:visited,
a,
a:hover,
a:active {
    text-decoration: none;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 90%;
    height: 50px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnAdd {
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888888;
    height: 50px;
    width: 50px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.btnBack {
    position: absolute;
    left: 5.6%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adadad;
    height: 50px;
    width: 100px;
    border-style: solid;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #808080;
}

.btnForm {
    margin-top: 20px;
}

.btnForm,
.btnAnnuler,
.btnSupprimer,
.btnRetour,
.btnEdit {
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
}

.btnEdit {
    margin-top: 10px;
}

.btnSupprimer {
    border-color: #ff0000;
    margin-top: 10px;
}

.btnRetour {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}