{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<h1>Article index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>NomArticle</th>
				<th>Prix</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.nomArticle }}</td>
					<td>{{ article.prix }}</td>
					<td>
						<a href="{{ path('app_article_show', {'id': article.id}) }}">🔍</a>
						<a href="{{ path('app_article_edit', {'id': article.id}) }}">✏️</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_article_new') }}">
		<button class="btnAdd">+</button>
	</a>

	<a href="{{ path('app_accueil') }}">
		<button class="btnBack">Retour</button>
	</a>
{% endblock %}
