{% extends 'base.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}
	<h1>Nouvel article</h1>

	{{ include('article/_form.html.twig') }}

	<a href="{{ path('app_article_index') }}">
		<button class="btnBack">Retour</button>
	</a>
{% endblock %}
