{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<h1>Article</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ article.id }}</td>
			</tr>
			<tr>
				<th>NomArticle</th>
				<td>{{ article.nomArticle }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ article.prix }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_article_index') }}">
		<button class="btnRetour">Retour</button>
	</a>

	<a href="{{ path('app_article_edit', {'id': article.id}) }}">
		<button class="btnEdit">Editer</button>
	</a>

	{{ include('article/_delete_form.html.twig') }}
{% endblock %}
